.dashboard-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  h2{
    margin-bottom: 35px;
  }
  
  .error-message {
    color: #dc3545;
    background: rgba(220, 53, 69, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
  }
  
  .success-message {
    color: #28a745;
    background: rgba(40, 167, 69, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
  }
  
  .cerere-container,
  .approved-container,
  .pending-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
  }
  
  select {
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
  }
  
  .submit-button,
  .upload-button {
    margin-left: 20px;
    background: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .submit-button:disabled {
    background: #ccc;
    cursor: not-allowed;
  }
  
  .submit-button:hover {
    background: #45a049;
  }
  
  .rejected-message {
    margin-bottom: 20px;
    color: #ffc107;
  }
  
  .finalizat-container {
    background: linear-gradient(to top, #5a392f, #1a532c);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .download-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: #55a159;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .download-link:hover {
    background: #0c410f;
  }
  